#auth-container {
  position: absolute;
  width: 100vw;
  top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // border: 1px solid red;

}

.large-mascot {
  max-width: 150px;

}