::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: transparent; /* Set the background color to transparent */
}
 
::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;
}


#dashboard-wrapper { // panel and diagram
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70vh;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $dashboard-background-color;
}

#panel-wrapper, #diagram-container-wrapper, #data-window-wrapper {
  border: 1px solid $dashboard-border-boxes;
  overflow: auto;
}
#data-window-wrapper {
  padding-top: 1rem;
  height: 100%;

}
#panel-wrapper {
  resize: horizontal;
  padding: 0px 15px 0px 0px;
  background-color: $panel-background-color;
  overflow-y: scroll;
}
#panel-wrapper, #diagram-container-wrapper {
  border-radius: 1rem;
  margin: .5rem;
}

#data-window-wrapper {
  padding: .5rem 1rem 1rem 1rem;
  background-color: $data-window-background-color;
}

#diagram-container-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: $diagram-background-color;
}

#panelButton, #diagramButton, #dataButton, .block-button-wrapper {
  visibility: hidden;
  height: 0px;
  margin: 0px;

}
#chart-frame {
  height: 100%;
  overflow: hidden !important;

}
iframe {
  padding: 0px;
  overflow: hidden;
  border: none;
}

#hideDetails {

}
// media queries

@media (max-width: 1000px) {
  #hideDetails {
    display: none;
  }
  #dashboard-container {
    width: 100vw;
    height: 100vh;
    background-color: $dashboard-background-color-mobile;
  }

  #data-window-wrapper {
    margin-top: 2rem;
    overflow: visible;
    overflow-y: scroll;
    height: 90vh !important;
  }
  #panel-wrapper {
    width: 100vw;
  }

  #dashboard-wrapper {
    flex-direction: column;
  }
  #diagram-container-wrapper {
    order: -1;
    overflow: hidden;
  }
  .collapse-screen {
    visibility: hidden !important;
    height: 0px !important;
  }
  .full-screen {
    margin-top: 1rem;
    height: 90vh !important;
    visibility: visible !important;
  }

 
  .block-button-wrapper {
    position: fixed;
    bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    visibility: visible;
    height: 3rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: $dashboard-background-color-mobile;
  }

  #panelButton, #diagramButton, #dataButton {
    width: 33.3vw;
    height: 2.5rem;
    // border: 1px solid $primary-font-color;
    margin: 3px;
    visibility: visible;
    background-color: $button-color;
    color: $button-font-color;
  }
  #panel-wrapper, #diagram-container-wrapper, #data-window-wrapper, #dashboard-wrapper {
    border: none !important;
  }
  #chart-frame {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

