#cluster-temp-img {
  object-fit: cover;
  max-width: 100%;
}

#dashboard-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 70vh;
  border: 1px solid black;
  resize: vertical;
  margin-top:3rem;
}
#dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#panel-wrapper, #diagram-container-wrapper, #data-window-wrapper {
  border: 1px solid gray;
  overflow: auto;
}

#panel-wrapper {
  resize: horizontal;
  padding: 0px 15px 0px 0px;
}

#diagram-container-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

// media queries

@media (max-width: 1000px) {

  #dashboard-container {
    height: 100%;
  }

  #dashboard-wrapper {
    flex-direction: column;
    height: 100vh;
  }

  #diagram-container-wrapper {
    order: -1;
    height: 100vh;
  }

  #panel-wrapper {
    height: 3.5rem;
    overflow: auto;
  }

}

// onClick Panel in mobile functionality add this class to expand
.panel-wrapper-focused {
  height: 100vh;
  overflow: auto;
}
