// * {
//   border: 1px solid red;
// }

input{
  border: none;
  border: 1px solid $input-box-border-color;
  border-radius: 3px;
  width: 200px;
  margin-bottom: 5px;
  background-color: $input-box-background-color;
}
.auth-logo {
  max-width: 250px;
  margin-bottom: 1rem;
}
label{
  font-size: .7rem;
}
.form-container > h1 {
  margin-top: -2.4rem;
  color: $info-card-background-color;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-between;

}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0vh;
}

.button-flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
button {
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}
.primary-button {
  border: none;
  background-color: $primary-button-color;
  color: $primary-button-font;
}
.secondary-button {
  border: none;
  background-color: $secondary-button-color;
  color: $secondary-button-font;
}

#theme-bg-auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 1.5rem;
  background-color: $auth-form-bg-color;
}