.metrics-button {
  width: 300px;
  background-color: $secondary-button-color;
  border: none;
  border: 1px solid $error-font-color;
  margin-bottom: .2rem;
  color: $primary-font-color;
}
#refresh-button {
  width: 300px;
  text-align: center !important;
  border: none;
  margin-bottom: .2rem;
  background-color: $primary-button-color;
  color: $primary-button-font;
}

#data-window-wrapper {
  padding: 0rem 1rem 1rem 1rem;
  background-color: $data-window-background-color;
}

.timestamps-list {
  display: flex;
  flex-direction: column;
}
.timestamp-error {
  color: $error-font-color;
}
.timestamp, .timestamp-error {
  font-size: .8rem;
  padding: .1rem;
}

.metrics-toggle-panel > ul {
  list-style: none;
  border: 1px solid $error-font-color;
  border-top: none;
  padding-right: 1rem;
  max-width: 90vw;
}
.metrics-toggle-panel > ul > li {
  color: $primary-font-color;
}
.metrics-toggle-panel {
  display: none;
}
.metrics-toggle-panel.open {
  display: block;
}


#log-ul  {
  list-style: none;
}
#log-ul  > li {
  color: $code-font-color;
  font-size: .8rem;
}
.log-wrap {
  margin-bottom: 1rem;
}
.log-name {
 color: $error-font-color;
 padding-bottom: .5rem;
 border-bottom: 1px solid $code-font-color;

}
.msg-name {
 padding-bottom: .5rem;
}
.time-stamp {
  color: $error-font-color;
}


@media (max-width: 1000px) {
  #log-ul  {
   padding: 0px;
  }
  .metrics-button {
    width: 90vw;
  }
}