
#navbar-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  margin: 0px;
  border-bottom: 1px solid $tertiary-font-color;
}
.nav-item-group {
  display: flex;
  align-items: baseline;
}
.nav-item-logo {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.mascot {
  height: 6vh;
  transform: scaleX(-1);
  margin-right: 10px;
}

.nav-icon, .icon-docs, .icon-settings, .icon-dark-mode {
  visibility: visible;
  margin-left: 10px;
  color: "$primary-font-color";
  font-size: 1.5rem;
}

#hamburger-icon {
  visibility: hidden;
}

.collapse-burger-menu{
  visibility: hidden;
}



// media queries
@media (max-width: 1000px) {
 #hamburger-icon {
  visibility: visible;
 }

  body {
    overflow-x: hidden;
  }

  .mascot {
    display: none;
  }
  
  .nav-icon {
    visibility: hidden;
  }

  #hamburger-icon {
    visibility: visible;
    margin: 0px 1rem 0px 1rem;
    color: "$primary-font-color";
    font-size: 1.5rem;
  }

  #hamburger-menu {
    background-color: $tertiary-font-color;
    margin: 0px;
    padding: 1rem 1rem 0px 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0px;
    list-style: none;
    z-index: 999;
  }

  li {
   background-color: $tertiary-font-color;
   padding: 1rem;
   border-bottom: 1px solid $secondary-font-color;
  }
}

