// // new nav bar stuff
// #menu-navbar-container {
//   position: relative;
//   top: 0px;
//   width: 100vw;
//   min-height: 2rem;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 3rem;
//   margin: 0px;
//   border-bottom: 1px solid $nav-border;
//   background-color: $nav-background-color;
//   z-index: 999;
// }
// .menu-nav-item-group {
//   display: flex;
//   justify-content: space-evenly;
// }
// .menu-desktop > ul {
//   display: flex;
// }

// // ----------------------------


* {
  box-sizing: border-box;
}
.nav-logo-wrapper {
  display: flex;
  margin-top: .4rem;
  align-items: center;
}

.nav-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: .5rem;
  margin-left: 1rem;
  // margin-top: -.5rem;
}
.nav-text-logo {
  // margin-top: .6rem;
}
.text-logo {
  max-height: 2rem;
}
.nav {
  height: 50px;
  width: 100%;
  background-color: $nav-background-color;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  // padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 3rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: $nav-links-color;
}

// .nav > .nav-links > a:hover {
//   background-color: rgba(0, 0, 0, 0.3);
// }

.nav > #nav-check {
  display: none;
}

@media (max-width:1000px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  // .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
  //   background-color: pink;
  // }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid $primary-font-color;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: $hamburger-menu-bg-color;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}