#settings-container {
  position: absolute;
  width: 100vw;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.large-mascot {
  max-width: 150px;

}