$body-bg-color: white;

$primary-font-color: #363343;
$secondary-font-color: lighten($primary-font-color, 30%);
$tertiary-font-color:  lighten($primary-font-color, 50%);

$code-font-color: #f75215;
$code-background-color: #232324;


$box-shadow-color: lighten($primary-font-color, 70%); 


$theme-color-1:  #f1eada;
$theme-color-2:  #8fccd0;
$theme-color-3:  #9be5a4;
$theme-color-4:  #ee965c;
$theme-color-5:  #f7f2f2;

///
$scroll-bar-color: #f75215;

/// Navbar
$nav-background-color: #fad6c9;
$nav-border: rgb(199, 192, 192);
$lambdawg-color: #f75215;

$hamburger-icon-color: black;
$hamburger-menu-bg-color: #343434;
$hamburger-menu-lines: #4c4c4c;
$hamburger-menu-font: #fad6c9;

/// Dashboard
$dashboard-background-color: #343434;
$panel-background-color:  rgb(240, 235, 230);
$diagram-background-color:  rgb(240, 235, 230);
$data-window-background-color:  #343434;
$button-background-color: white;
$button-color: #f75215;
$button-font-color: black;
$dashboard-border-boxes: none;

$dashboard-background-color-mobile: $diagram-background-color;

/// Forms
$input-box-background-color: white;
$input-box-border-color: black;
$auth-form-bg-color: pink;

/// Buttons
$primary-button-color: #272220;
$secondary-button-color: lighten($primary-button-color, 70%);
$primary-button-font: #d9d6d6;
$secondary-button-font: #2c2828;