$body-bg-color: white;

$primary-font-color: #363343;
$secondary-font-color: lighten($primary-font-color, 30%);
$tertiary-font-color: lighten($primary-font-color, 50%);

$code-font-color: #fad6c9;
$code-background-color: #232324;

$box-shadow-color: lighten($primary-font-color, 70%);

/// Navbar
$nav-background-color: #fad6c9;
$nav-border: rgb(199, 192, 192);
$lambdawg-color: #f75215;
$nav-links-color: #f75215;

$hamburger-icon-color: $primary-font-color;
$hamburger-menu-bg-color: #595959;
$hamburger-menu-lines: #4c4c4c;
$hamburger-menu-font: $nav-background-color;

/// Dashboard
$dashboard-background-color: #595959;
$dashboard-border-boxes: none;
$dashboard-background-color-mobile: #fff;

$panel-background-color: #fff;
$error-font-color: #f75215;

$diagram-background-color: #fff;

$data-window-background-color: #595959;
$button-background-color: white;

$button-color: #f75215;
$button-font-color: black;
$button-current-page-indicator: lighten($button-color, 20%);

/// Forms
$input-box-background-color: white;
$input-box-border-color: black;
$auth-form-bg-color: #fad6c9;

/// Buttons
$primary-button-color: #f75215;
$secondary-button-color: lighten($primary-button-color, 40%);
$tertiary-button-color: lighten($primary-button-color, 20%);
$primary-button-font: #fff;
$secondary-button-font: #2c2828;

/// LANDING PAGE
$info-card-background-color: #fad6c9;

///CHARTS
$chart-primary-color: #ff6384;
$chart-secondary-color: lighten($chart-primary-color, 20%);
$chart-contrast-color: #297fb8;
$chart-background-color: #ff508480;
$chart-background-contrast-color: #35a2eb80;
