// import fonts
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

// import style modules
@import "variables";
@import "form";
@import "dashboard";
@import "navbar";
@import "auth";
@import "landingpage";
@import "settings";
@import "newnavbar";
@import "metrics";
@import "dropdown";
@import "animation";
// global css stuff here
* {
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  margin: 0px;
  padding: 0px;
  color: $primary-font-color;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: $body-bg-color;
}
#content {
  padding-top: 0rem;
}
code {
  color: $code-font-color;
  font-size: 0.75rem;
}

h1 {
  // font-family: 'Press Start 2P', 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: $primary-font-color;
}
.centered-text {
  text-align: center;
}
a:link {
  text-decoration: none;
  color: $primary-font-color;
}
a:visited {
  text-decoration: none;
  color: $primary-font-color;
}
a:active {
  color: $tertiary-font-color;
}
button:active {
  transform: translateY(2px);
}

// media queries
@media (max-width: 1000px) {
}
