
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#dashboard-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 70vh;
  border: 1px solid black;

}



#NavbarContainer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
#headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerLogo {
  width: 250px;
}
.tempSettingsIcon {
  width: 50px;
}



#diagram-container-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
#cluster-temp-img {
  object-fit: cover;
  max-width: 70vw;
}


